.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.slide-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    transition: height 0.3s ease-out;
  }
  
  .slide-card.expanded {
    height: 300px;
  }
  
  .slide-card-header {
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .slide-card-header h2 {
    margin: 0;
  }
  
  .slide-card-header span {
    font-size: 24px;
  }
  
  .slide-card-content {
    padding: 10px;
  }
  
.my_navbar,
.my_footer {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.my_footer {
  bottom: 0;
}